# Ignore node_modules for the main repo
node_modules

# Ignore frontend build output
frontend/build

# Ignore backend binary output
backend/main

# Ignore logs and temporary files
*.log
*.out
*.tmp

# Ignore .git directory
.git

# Ignore any IDE/editor specific files
.vscode
.idea
*.swp
